# Python
__pycache__/
*.py[cod]
venv/
env/

# Logs
*.log
download_log.json

# Fichiers système
.DS_Store
Thumbs.db
*.swp

# Node modules
node_modules/

# IMPORTANT : Forcer l'inclusion des affiches
!assets/
!assets/posters/
!assets/posters/*.webp
